body {
  background: #F3F3F3;
}

.list {
  padding: 5px 0;
  border-bottom: 1px solid #2c2c2c;
}

.list:hover {
  background: #ebebeb;
}

.list a {
  color: #000;
}

select {
  width: 90%;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  height: 26px;
  line-height: 30px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555555;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.information {
  margin-bottom: 30px;
}

.BOSSKILL {
  background: #fea23d;
}

.LOOT {
  background: #4aeea4;
}

.CRITERIA {
  background: #b3ad8a;
}

.ACHIEVEMENT {
  background: #eaebae;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
