<div ng-controller="TabsController">
  <tabset>
    <tab heading="Mounts">
      <h3> mounts </h3>
      <!-- [{"name":"Albino Drake","spellId":60025,"creatureId":32158,"itemId":44178,"qualityId":4,"icon":"ability_mount_drake_blue","isGround":true,"isFlying":true,"isAquatic":true,"isJumping":false},{ -->
      <div class="row">
        <div class="col-xs-4" ng-repeat="mount in info.mounts.collected">
          {{mount.name}}
        </div>
      </div>
    </tab>

    <tab heading="Pets">
      <h3> pets </h3>
      <!-- [{"name":"Hewty","spellId":90523,"creatureId":48609,"itemId":64372,"qualityId":3,"icon":"inv_misc_head_clockworkgnome_01","stats":{"speciesId":277,"breedId":11,"petQualityId":3,"level":25,"health":1546,"power":257,"speed":289},"battlePetGuid":"0000000002B43963","isFavorite":true,"isFirstAbilitySlotSelected":false,"isSecondAbilitySlotSelected":false,"isThirdAbilitySlotSelected":false,"creatureName":"Clockwork Gnome","canBattle":true}, -->
      <div class="row">
        <div class="col-xs-4" ng-repeat="pet in info.pets.collected">
          {{pet.name}}
        </div>
      </div>
    </tab>
  </tabset>
</div>
