<div ng-controller="CharacterController" class="container">
  <div class="row">
    <div class="col-xs-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active" ui-sref="character">Overview</li>
        <li ui-sref="character.talents">Talents</li>
        <li ui-sref="character.petsmounts">Pets &amp; Mounts</li>
        <li ui-sref="character.achievements">Achievements</li>
        <li ui-sref="character.professions">Professions</li>
        <li ui-sref="character.pvpquests">PvP &amp; Quests</li>
        <li ui-sref="character.guild">Guild</li>
        <li ui-sref="character.feed">Feed</li>
        <li ui-sref="character.progression">Progression</li>
      </ul>
    </div>
    <div class="col-xs-8 main">
       <div class="row">
        <div class="col-xs-4">{{character.name}}</div>
        <div class="col-xs-4">{{info.level}} {{info.gender|gender}} {{info.race|race}} {{info.class|class}} </div>
        <div class="col-xs-4">{{info.thumbnail}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2">{{info.achievementPoints}}</div>
        <div class="col-xs-2">{{info.totalHonorableKills}}</div>
        <div class="col-xs-2">{{character.realm}}</div>
        <div class="col-xs-2">{{info.battlegroup}}</div>
        <div class="col-xs-2">{{info.guild.name}}</div>
        <div class="col-xs-2">{{info.guild.level}}</div>
        <!-- {{guild.emblem}} -->
      </div>
      <div ui-view>
        <div class="row">
          <h3> Stats </h3>
          <div class="col-xs-3" ng-repeat="(key, value) in info.stats">
            <div>{{key}} {{value}}</div>
          </div>
        </div>
        <div class="row">
          <h3> Items </h3>
          <div>{{info.items.averageItemLevel}}</div>

          <div class="row">
            <div class="col-xs-6">
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.head.id}}">{{info.items.head.name}} </a><!-- {{id, icon, quality, itemLevel, tooltipParams, regorge, stats, armor}} -->
              </div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.shoulder.id}}">{{info.items.shoulder.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.back.id}}">{{info.items.back.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.chest.id}}">{{info.items.chest.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.waist.id}}">{{info.items.waist.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.legs.id}}">{{info.items.legs.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.feet.id}}">{{info.items.feet.name}}</a></div>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.hands.id}}">{{info.items.hands.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.finger1.id}}">{{info.items.finger1.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.finger2.id}}">{{info.items.finger2.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.neck.id}}">{{info.items.neck.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.shirt.id}}">{{info.items.shirt.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.tabard.id}}">{{info.items.tabard.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.trinket1.id}}">{{info.items.trinket1.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.trinket2.id}}">{{info.items.trinket2.name}}</a></div>
              <div class="col-xs-12"><a ng-href="#/item/{{info.items.wrist.id}}">{{info.items.wrist.name}}</a></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6"><a ng-href="#/items/{{info.items.mainHand}}">{{info.items.mainHand.name}}</a></div>
            <div class="col-xs-6"><a ng-href="#/items/{{info.items.offHand}}">{{info.items.offHand.name}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
