<div ng-controller="ItemController">
  <h4>{{info.name}}</h4>
  <div class="row">
    <div class="col-xs-4">
      <div ng-repeat="class in info.allowableClasses">
        {{class}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div ng-repeat="stat in info.bonusStats">
        {{stat.amount}}
        {{stat.stat}}
      </div>
    </div>
    <div class="col-xs-4">{{info.buyprice}}</div>
  </div>

  <a ng-href="{{info.itemSet.id}}">{{info.itemSet.name}}</a>
  {{info.nameDescription}}
  {{info.requiredLevel}}
  {{info.sellPrice}}
  {{info.socketInfo.socketBonus}}
  <div ng-repeat="socket in info.socketInfo.sockets">
    {{type}}
  </div>
</div>
