<div ng-controller="RealmDetailController" class="container">
  <h1>Realm {{name}}</h1>

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-2">{{realm.type}}</div>
        <div class="col-xs-2">{{realm.population}}</div>
        <div class="col-xs-2">{{realm.queue}}</div>
      </div>
      <div class="row">
        <div class="col-xs-2">{{realm.status}}</div>
        <div class="col-xs-2">{{realm.battlegroup}}</div>
        <div class="col-xs-2">{{realm.timezone}}</div>
      </div>
    </div>

    <div class="col-xs-3">
      <h4> Wintergrasp </h4>
      {{realm.wintergrasp.controlling-faction}}
      {{realm.wintergrasp.status}}
      {{realm.wintergrasp.next}}
    </div>

    <div class="col-xs-3">
      <h4> Tol-Barad </h4>
      {{realm.tol-barad.controlling-faction}}
      {{realm.tol-barad.status}}
      {{realm.tol-barad.next}}
    </div>
  </div>
</div>
