<h2> Realms </h2>

<div ng-controller="RealmController" class="container">

  <form class="row">
    <input type="text" ng-model="search" placeholder="Search" class="col-xs-3">
    <div ng-include="'views/partials/typeselect.html'" class="col-xs-3"></div>
    <div ng-include="'views/partials/battlegroupselect.html'" class="col-xs-3"></div>
    <div ng-include="'views/partials/searchsizelimit.html'" class="col-xs-3"></div>
  </form>

  <div class="row">
    <h4>
      <div class="col-xs-2">Realm</div>
      <div class="col-xs-2">Population</div>
      <div class="col-xs-2">Queue</div>
      <div class="col-xs-2">Type</div>
      <div class="col-xs-2">Battlegroup</div>
      <div class="col-xs-2">Status</div>
    </h4>
  </div>

  <div ng-repeat="realm in realms | filter:search | filter:strictsearch:true | limitTo:searchsize.limit" class="row list">
    <a ng-href="#/realm/{{realm.name}}">
        <div class="col-xs-2">{{realm.name}}</div>
      <div class="col-xs-2">{{realm.population}}</div>
      <div class="col-xs-2">{{realm.queue}}</div>
      <div class="col-xs-2">{{realm.type}}</div>
      <div class="col-xs-2">{{realm.battlegroup}}</div>
      <div class="col-xs-2">{{realm.status}}</div>
    </a>
  </div>
</div>
